  body{
  background-color: #FF0080;
  font-family: "Helvetica";
  
}
::-webkit-scrollbar {
    height: 12px;
	width: 12px;
	background: #34DDDD;
    }
::-webkit-scrollbar-thumb {
    background:  #003366;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-corner {
    background: #000;
}
.navbar.navbar-default{
  background-color: #FF0080;
  border:0px;
  margin-bottom: 0px;
  font-family: 'Nunito', serif;
  font-size:18px;
  color:#9C0063;

}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
    color:#660F57;
}

.navbar-default .navbar-nav>li>a{
    color:#660F57;
}

.page-start{
  background-color: #fbfbfb;
  border:1px solid #efefef;
}

.splash-screen {
 color: rgb(255, 255, 255);
    position: relative;
    min-height: 350px;
    padding-top: 9em;
    background: url("Vivre.JPG") no-repeat scroll 0px 100% / cover transparent;
    
}
.tag-line{
	 color:#C0C0C0;
	 font-family: 'Didact Gothic', sans-serif;
	 font-size:50px;
	 text-shadow: 0 0 1px rgba(0,0,0,0.05),0 1px 2px rgba(0,0,0,0.3);;
}
.col-md-8 .col-md-offset-2{
  padding-left: 15px;
  margin-left:20%;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
.container.doc{
  margin-top: 10px;
  background-color: #fff;
    -webkit-box-shadow: 0px 3px 0px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 0px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.75);
  font-family: "Roboto";
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
}
#tag-line{
  font-family: "Frutiger,Lato";
  color:#fff;
}

.current{
  background-color: #9C0063;
}

.footer{
  height:200px;
  background-color: #9C0063;
  margin-top: 10px;
  color:#fff;
}

.footer-info{
  color:#F2A1F4;
  
}

.row.test1{
  margin-top:20px;
}
.col-md-2>p{
	color:#F2A1F4
}
	
a{
  color:#F2A1F4;
}

 @media(min-width:992px) {
    .footer-info {
      margin-top:40px;
     }
#adress{margin-top:40px}
     }
 @media(max-width:768px){
   .footer-info {
    margin-top:10px;
  }
  }


    @media (max-width:767px) {
    .footer-info {
    margin-top:0px;
  }
  }

  #slider1_container{
     -webkit-box-shadow: 0px 3px 0px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 0px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.75);
  }
  .col-md-8>#slider1_container{
    margin-top: 10px;
  }