.mainbody{
    height: 100%;
    width:100%;
}
li{
	margin-left:40px;
}
.navbar.navbar-default{
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: turquoise;
}

.nav.navbar-nav.test1{
    position: absolute;
    left:50%;
    margin-left: -360px;
-webkit-box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.75);
box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.75);
}

.navbar-inverse .navbar-brand{
    color:white;
    
}

.navbar-inverse .navbar-nav>li>a{
    color:white;
}

.navbar>.container-fluid .navbar-brand{
    margin-left:-15px;
    left:40px;
    position:relative;
}
.container{
    height:50%;
    width:50%;
    margin-top:-20px;
    margin-left:0px;
    background: -webkit-linear-gradient(bottom, rgba(64,224,208,0), rgba(64,224,208,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, rgba(0,255,239,0), rgba(255,0,0,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, rgba(0,255,239,0), rgba(255,0,0,1)); /* For Firefox 3.6 to 15 */
    background-color: linear-gradient(to top, rgba(0,255,239,0), rgba(255,0,0,1)); /* Standard syntax (must be last) */
}